button {
  background-color: var(--bg-main);
  border: solid 1px transparent;
  box-sizing: border-box;
	outline: solid 1px var(--bg-light);
}

button:hover {
  background-color: var(--bg-light);
}

button:active {
  background-color: var(--bg-dark);
}

button.selected {
  border: solid 1px var(--hexfriend-green);
}
