#panel-container {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: var(--gap-small);
  width: 25em;
  padding: var(--gap);
  box-sizing: border-box;
}

.panel {
  min-height: 100px;
  background-color: var(--bg-main);
  pointer-events: all;
  margin-bottom: var(--gap);
}

/** TERRAIN PANEL **/
#terrain-panel-buttons {
	display: flex;
	gap: var(--gap-small);
	padding: var(--gap-small);
	flex-wrap: wrap;
	justify-content: space-between; /* hnrggn.... */
	
}

#terrain-panel-buttons button {
	aspect-ratio: 1/1;
}
